.index-container {
   border:5px solid green;
   margin:auto 5px;
}
.divider {
   border-bottom:5px solid gray;
}
.footer-section {
   padding:50px;
   background-color: #0077b3;
}
ul > li {
   list-style: none;
}
a {
   color:white;
}