.body {
   padding-top:80px;
}
nav {   
   position:fixed;
   top:0;
   width: 100%; 
   z-index: 1000; 
   border-bottom:5px solid #d0d0d5;
   /* background-color: red; */
   /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
   margin-bottom:10px;
}
nav > div{
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin:auto;
}
ul {   
   justify-content: space-evenly;
   justify-content: center;
   align-items: center;
}
ul > li {
   margin-right:10px;
}
select#profile {
   border-radius: 10px;
   padding:10px;
}