{% extends "eCoffee/layout.html" %} 
<!-- {% load static %} -->
{%block title%}Admin Page{%endblock%} 
{%block body %}

<div class="admin-container">
   <h1>Admin!</h1>
   <div class="row mx-1">      
      <div class="col-md-3" style="background-color:#0077b3;">
         <ul>
            <li><a href="#" class="admin">All Users</a></li>
            <li><a href="#" class="admin">All Products</a></li>
            <li><a href="#" class="admin">Audit</a></li>
         </ul>
      </div>
      <div class="col-md-9" style="background-color:yellow;">right</div>
   </div>
   
<div>

{%endblock%}