{% extends "eCoffee/layout.html" %} 
<!-- {% load static %} -->
{%block title%}Product Page{%endblock%} 
{%block body %}

<div class="home-products-container">
   <h1 style="color:brown;">eCoffee Products!</h1> 
  
   <div class="row">   
        <div class="col-md-2">
            <!-- Left panel content goes here -->
            {%if categories%}   
            <form method="GET" action="" id="categoryForm"> 
            {%for cat in categories %}
            <div class="ml-4">                               
                <input type="checkbox" name="category" id="cat_{{ forloop.counter0 }}" class="mx-2" value="{{ cat }}"
                    {%if selected_categories %}
                    {%if cat in selected_categories%}checked{%endif%}
                    {%endif%}
                onchange="this.form.submit();"/>
                
                <label for="cat_{{ forloop.counter0  }}">{{cat}}</label>
            </div> 
          
            {%endfor%}
            </form>     
            {%endif %}
        </div> 
        <hr/>
        {% comment %} dont touch following {% endcomment %}
    <div class="col-md-10">
        {%if products_count >= 0 %}
        <p><i>Products({{ products_count }})</i></p>
        {%endif%}
        <div class="row">
            {% if products %}
                {% for coffee in products %}
                {%with forloop.counter0 as index %}
                    <div class="col-md-4 mb-2 mx-0">
                        <div class="card">
                            <div class="coffee-img">
                                <img src="{{ coffee.photo_url }}" width="280" height="300" alt="picture">
                            </div>                          
                            <div class="bottom">
                                <h6>{{ coffee.description }}</h6>
                                <div class="d-flex justify-content-between">
                                    <p>${{ coffee.price }}</p>
                                    <a href="{% url 'product_details' coffee.id %}">View details</a>
                                </div> 
                                <div>
                                    <form method="POST" action="{% url 'add_to_cart' coffee.id%}">
                                        {%csrf_token%}
                                        <input type="hidden" name="next" value="{{ request.path }}"/>
                                    <button type="submit" class="add-to-cart">Add to Cart</a>
                                    </form>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                    {%endwith%}
                {% endfor %}
                         
            {% endif %}
        </div>
         {% comment %} pagination lands here... {% endcomment %}
         <div class="pagination-container">       
             {% if products.has_other_pages %}
               <ul class="pagination justify-content-center">
               {% if products.has_previous %}
                 <li class="mx-3"><a href="?page={{ products.previous_page_number }}">Previous</a></li>
               {% else %}
                 <li class="disabled class="mx-3""><span>Previous</span></li>
               {% endif %}
               {% for i in products.paginator.page_range %}
                 {% if products.number == i %}
                   <li class="active mx-3"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                 {% else %}
                   <li class="mx-3"><a href="?page={{ i }}">{{ i }}</a></li>
                 {% endif %}
               {% endfor %}
               {% if products.has_next %}
                 <li class="mx-3"><a href="?page={{ products.next_page_number }}">Next</a></li>
               {% else %}
                 <li class="disabled mx-3"><span>Next</span></li>
               {% endif %}
               </ul>
            {% endif %}
               </div>
         {% comment %} end pagination {% endcomment %}  
    </div>
</div>
   
   <div class="divider"></div>
   <div class="footer-section">
      {% if footer_data %}
      <div class="row">
          {% for column in footer_data %}
          <div class="col-md-3 footer-column">
              <ul>
                  {% for item in column %}
                  <li><a href="#" class="footer">{{ item }}</a></li>
                  {% endfor %}
              </ul>
          </div>
          {% endfor %}
      </div>
      {% endif %}
   </div>
</div>

{% endblock %}