{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}eCoffee Home{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">   
        <link href="{% static 'eCoffee/style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/layout-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/index-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/admin-style.css' %}" rel="stylesheet">
        {%block script%}{%endblock%}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <a class="navbar-brand" href="/">eCoffee</a>
            <div>
              <ul class="navbar-nav mr-auto">  
               {% comment %} <li><img src="{% static 'network/images/network.png' %}" width="50" height="50" class="network-icon"/></li> {% endcomment %}
                {% comment %} <li class="nav-item">
                  <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'index' %}">All Posts</a>
                </li> {% endcomment %}
                {% if user.is_authenticated %}
                    {% comment %} <li class="nav-item">
                        <a class="nav-link {% if request.path == '/following' %}active{% endif %}" href="{% url 'following'%}">Following</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" style="color:blue;">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
            <div class="navbar-brand">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="{% url 'products' %}">Product</a></li>
                    <li class="nav-item"><i class="bi bi-cart3"></i></li>
                </ul>
            </div>
          </nav>
          {% block nav %}
          {% endblock %}
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>