{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}eCoffee Home{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">   
        <link href="{% static 'eCoffee/style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/layout-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/index-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/admin-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/home-products-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/cart-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/checkout-style.css' %}" rel="stylesheet">
        <link href="{% static 'eCoffee/product-details-style.css' %}" rel="stylesheet">
        {%block script%}{%endblock%}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed;">            
            <div><a class="navbar-brand" href="/">eCoffee</a></div>
            <div>
              <ul class="navbar-nav mr-auto">               
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <select id="profile">
                            <option value=""> <a class="nav-link" style="color:blue;">{{user.username}}</a></option>
                            <option value="settings">Settings</option>
                            <option value="profile">Profile</option>
                        </select>
                       
                    </li>
                    <li class="nav-item"><a href="{%url 'cart_items'%}"><i class="bi bi-cart3" ></i><span class="cart-len"><sup>{{cart_length}}</sup></span></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
          {% block nav %}
          {% endblock %}
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>