{% extends "eCoffee/layout.html" %} 

{%block title%}Product Details Page{%endblock%} 
{%block body %}

<div class="product-details-container">
   <h1>Hello Product Details Page!</h1>
   <div class="row">
      {%if product%}
      <div class="col-md-1">left</div>
      <div class="col-md-5" style="background-color:yellow;">
         <img src="{{ product.photo_url }}" alt="photo url"/>
      </div>
      <div class="col-md-5 product-details-right">
         <div class="d-flex justify-content-end like">       
            <button type="button" data-post-id="{{ post.id }}" class="like-btn liked" id="btnLike">
            <i class="bi bi-heart heart" id="heart-icon-{{ post.id }}"></i>
          </button>  
         </div>
      <h5>Product name: {{ product.description }}</h5>
      <div class="d-flex justify-content-between reviews">
         <a href="#">Reviews(33)</a>
         <a href="#">Write a review</a>
      </div>
      <form action="" method="POST" style="display:none;">
         {%csrf_token%}
         <textarea name="review" row="4" col="15">
         </textarea>
         <button type="submit">Submit</button>
      </form>
      <h4>${{ product.price }}</h4>
      {%if existing_item %}
      <div class="existing-item">
         <form method="POST" action="{% url "update_cart_item" item.product.id %}">
            {%csrf_token%}
         <button 
                  type="submit"
                  class="modify-quantity"
                  name="modify_quantity"
                  value="decrease"
               >-</button>
         <input type="number" name="quantity" min="1" max="10" value="{{ item.quantity }}" onchange="" class="modify-quantity"/>
         <button
               type="submit"
               class="modify-quantity"
               name="modify_quantity"
               value="increase">+</button>
         </form>
      </div>
      {%else%}
      <div class="new-item">
         <form method="POST" action="{% url 'add_to_cart' product.id%}">
            {%csrf_token%}
        <button type="submit" class="add-to-cart">Add to Cart</a>
        </form>
      </div>
      {%endif%}
        
      </div>
      <div class="col-md-1" >right</div>
      {%endif%}
   </div>

</div>
{%endblock%}