{% extends "eCoffee/layout.html" %} 

{%block title%}Profile Page{%endblock%} 
{%block body %}

<div class="profile-container">
   <h1>Hello {{request.user.username}},</h1>
   <div class="">
      {%if orders_with_items%}
      {% for order in orders_with_items %}
      <div class="order">
         {%if order.order_id and order.order_amount%}
          <h4 class="">Order ID: {{ order.order_id }}, </h4>
          <h4>Total paid: ${{order.order_amount}}</h4>
          <h4>Transaction Date: {{ order.placed_order_at }}</h4>
          {%endif%}
          {%if order.items %}
          <div class="order-items">             
                  <div class="product">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Unit Price</th>
                                 <th>Quantity</th>
                            </tr>
                        </thead>
                        {% for item in order.items %}
                        <tr>
                            <td> <img src="{{ item.photo_url }}" alt="{{ item.description }}" width="100" height="auto"></td>
                            <td><p>{{ item.description }}</p></td>
                            <td><p>${{ item.price }}</p></td>
                            <td><p>{{ item.quantity_purchased }}</p></td>
                        </tr>
                        {% endfor %}
                    </table>
                  </div>
          </div>
          {%endif%}
      </div>
      {% endfor %}
      {%endif%}
   </div>
</div>
{%endblock%}